<div class="container__big-card">

    <div class="big-card__foto">
        <img 
            src="https://png.pngtree.com/png-vector/20210604/ourmid/pngtree-gray-network-placeholder-png-image_3416659.jpg"
            alt=""
            height="397px"
            srcset=""
        >


    </div>
    
    <div class="big-card__title">
        <h1><a href="#">teste dsfdsf</a></h1>

    </div>

    <div class="big-card__description">
        
      <p>
         <a href="#">
            teste dsffdsfsd ffdf dsf sdfsdfsdfsd
        </a>
        
       </p>

    </div>


</div>
