<div class="container__big-card">

    <div class="big-card__foto">
        <img 
            src="https://i.ytimg.com/vi/pLaF_1aMFLA/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLB4uQllYChLVl5-GQC1ZuYIyyURuw"
            alt=""
            height="397px"
            srcset=""
        >


    </div>
    
    <div class="big-card__title">
        <h1><a href="#">teste dsfdsf</a></h1>

    </div>

    <div class="big-card__description">
        
      <p>
         <a href="#">
            teste dsffdsfsd ffdf dsf sdfsdfsdfsd
        </a>
        
       </p>

    </div>


</div>
