<div class="container__big-card">

    <div class="big-card__foto">
        <img 
            src="{{ photoCover }}"
            alt=""
            height="397px"
            srcset=""
        >


    </div>
    
    <div class="big-card__title">
        <h1><a href="/content/{{ Id }}" routerLink>{{ cardTitle }}</a></h1>

    </div>

    <div class="big-card__description">
        
      <p>
         <a href="/content/{{ Id }}">
           {{ cardDescription}}
        </a>
        
       </p>

    </div>


</div>
