<div class="container__small-card">
    <div class="container__small-card-content">

        <div class="small-card__foto">
            <img 
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZZJES_QD5y0pxkUZ20tJp6Xp6Dxhglmlhbg&s"
                alt=""
              
                srcset=""
            >
    
    
        </div>
        
        <div class="small-card__title">
            <h1><a href="#">teste dsfdsf</a></h1>
    
        </div>

        
    </div>
    

 

    <div class="container__small-card__seperator">
        <hr>
    </div>

    
    




</div>



